<section class="asset split about" id="about-section">
    <p class="title section-item" [innerHtml]="'about.title' | translate"></p>
    <div class="asset-body">
        <div class="section-item">
            <p>{{ 'about.description' | translate }}</p>
        </div>
        <div class="section-item">
            <div class="item">
                <label [innerHtml]="'about.age' | translate"></label>
                <p class="value">{{ getAge() }}</p>
            </div>
            <div class="item">
                <label [innerHtml]="'about.country' | translate"></label>
                <p class="value">{{ 'about.italy' | translate }}</p>
            </div>
            <div class="item">
                <label [innerHtml]="'about.remote' | translate"></label>
                <p class="value">{{ 'about.available' | translate }}</p>
            </div>
        </div>
    </div>
</section>