<section class="asset">
    <p class="title section-item" [innerHtml]="'domains.title' | translate"></p>
    <div class="asset-body">
        <div class="domains section-item">
            <div class="domain-item">
                <i class="fas fa-code"></i>
                <p class="domain-name">{{ 'domains.frontendRole' | translate }}</p>
                <p>{{ 'domains.frontendDescription' | translate }}</p>
            </div>
            <div class="domain-item">
                <i class="fas fa-server"></i>
                <p class="domain-name">{{ 'domains.backendRole' | translate }}</p>
                <p>{{ 'domains.backendDescription' | translate }}</p>
            </div>
        </div>
    </div>
</section>