<section class="asset">
    <p class="title section-item"><span>Main</span> Domains</p>
    <div class="asset-body">
        <div class="domains section-item">
            <div class="domain-item">
                <i class="fas fa-code"></i>
                <p class="domain-name">Frontend Dev</p>
                <p>Conoscenza di vari framework di sviluppo come Angular e React coltivata in diversi progetti
                    enterprise.</p>
            </div>
            <div class="domain-item">
                <i class="fas fa-server"></i>
                <p class="domain-name">Backend Dev</p>
                <p>Esperienza nella realizzazione di REST API con NodeJS, PHP (Lumen/Laravel) e Python.</p>
            </div>

        </div>
    </div>
</section>