:host .app-header {

  border-top: 2px solid #003762;
  background: #F7F7F7;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .container {
    align-items: center;
    display: flex;
    height: 80px;
  }

  .logo-container {

    h1.logo {
      border-left: 1px solid #C7C7C7;
      display: inline-block;
      height: 40px;
      margin: 0;
      padding: 0 25px;

      small {
        margin-bottom: 3px;
      }

      img {
        display: inline-block;
      }
    }

  }

  .session-info-container {

    &>* {
      margin: 0 20px;
    }

    .lang-switcher {
      box-shadow: 0px 0px 20px #00000036;
      border-radius: 15px;
      display: flex;
      list-style-type: none;
      margin: 0 20px;
      padding: 0;

      img {
        display: block;
      }

      li {
        border-right: 1px solid #003762;
        color: #003762;
        cursor: pointer;
        display: inline-block;
        padding: 5px;
        text-align: center;
        transition: all 0.5s ease;

        img {
          width: auto;
        }

        &:hover {
          background-color: #003762;
          color: #FFFFFF;
        }

        &.is-active {
          background-color: #003762;
          color: #FFFFFF;
        }

        &:first-child {
          padding-left: 10px;
          border-bottom-left-radius: 15px;
          border-top-left-radius: 15px;
        }

        &:last-child {
          border-right: none;
          padding-right: 10px;
          border-bottom-right-radius: 15px;
          border-top-right-radius: 15px;
        }
      }
    }

  }

}
