<header class="app-header">

    <div class="container logo-container">
        <h1 class="logo">
        </h1>
    </div>

    <div class="container session-info-container">

        <ul class="lang-switcher">
            <li *ngFor="let lang of languageList" [ngClass]="{'is-active': languageSelected === lang}"
                (click)="onSwitchLanguage(lang)">
                <img alt="Flag {{lang}}" [src]="'./assets/flags/' + lang + '.svg'" width="20" height="20">
            </li>
        </ul>
    </div>

</header>