<section class="profile">
    <div class="img-container"></div>
    <div class="profile-body">
        <p class="name">Matteo Cappella</p>
        <p class="role">Software Developer</p>
        <div class="socials">
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
    <div class="actions">
        <button>Download CV</button>
        <button>Contact me</button>
    </div>
</section>