<section class="profile">
    <div class="img-container"></div>
    <div class="profile-body">
        <p class="name">Matteo Cappella</p>
        <p class="role">Software Developer</p>
        <div class="socials">
            <a href="https://www.linkedin.com/in/matteo-cappella/"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/sigLoscoHD"><i class="fab fa-github"></i></a>
            <a href="https://www.facebook.com/matteo.cappella2"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/matteo.capp/"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="actions">
        <a class="btn" href="https://drive.google.com/file/d/1tdHogeSk8YP5loM2MWMTfNhO_rW7LGCv/view?usp=sharing" target="_blank">Download CV</a>
        <a class="btn" href="mailto:matteo.cappella02@gmail.com">Contact me</a>
    </div>
</section>