<section class="asset split" id="skills-section">
    <p class="title section-item" [innerHtml]="'skills.title' | translate"></p>
    <div class="asset-body">
        <div class="section-item">
            <p class="title"><i class="fas fa-code"></i>{{ 'skills.coding.title' | translate }}</p>
            <ul>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.language.javascript' | translate }}</li>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.framework.angular' | translate }}</li>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.framework.express' | translate }}</li>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.language.typescript' | translate }}</li>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.framework.express' | translate }}</li>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.framework.react' | translate }}</li>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.framework.ionic' | translate }}</li>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.language.html' | translate }}</li>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.language.css' | translate }}</li>
            </ul>
        </div>

        <div class="section-item">
            <p class="title"></p>
            <ul>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.language.php' | translate }}</li>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.framework.laravel' | translate }}</li>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.framework.lumen' | translate }}</li>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.language.python' | translate }}</li>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.database.sql' | translate }}</li>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.database.mongo' | translate }}</li>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.practise.test' | translate }}</li>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.practise.designPattern' | translate }}</li>
                <li><i class="fas fa-check"></i>{{ 'skills.coding.practise.cicd' | translate }}</li>
            </ul>
        </div>

        <div class="section-item">
            <p class="title"><i class="fas fa-tools"></i>{{ 'skills.tools.title' | translate }}</p>
            <ul>
                <li class="ide"><i class="fas fa-check"></i>{{ 'skills.tools.ide.vscode' | translate }}</li>
                <li class="ide"><i class="fas fa-check"></i>{{ 'skills.tools.ide.pycharm' | translate }}</li>
                <li class="ui"><i class="fas fa-check"></i>{{ 'skills.tools.versioning.git' | translate }}</li>
                <li class="ui"><i class="fas fa-check"></i>{{ 'skills.tools.cicd.jenkins' | translate }}</li>
                <li class="ui"><i class="fas fa-check"></i>{{ 'skills.tools.other.latex' | translate }}</li>
            </ul>
        </div>
    </div>
</section>