html,
body {
  font-weight: 400;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  min-width: 768px;
  overflow: hidden;
  overflow-x: auto;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}
