<section class="asset split" id="resume-section">
    <p class="title section-item" [innerHtml]="'resume.title' | translate"></p>
    <div class="asset-body">

        <div class="section-item">
            <p class="title">{{ 'resume.experience.title' | translate }}</p>
            <div class="section-sub-item">
                <p class="time current">{{ 'resume.experience.leitha.date' | translate }}</p>
                <p class="item-name">{{ 'resume.experience.leitha.name' | translate }}</p>
                <p class="additional-info">{{ 'resume.experience.leitha.additionalInfo' | translate }}</p>
                <p class="description">{{ 'resume.experience.leitha.description' | translate }}</p>
            </div>

            <div class="section-sub-item">
                <p class="time current">{{ 'resume.experience.eurisLead.date' | translate }}</p>
                <p class="item-name">{{ 'resume.experience.eurisLead.name' | translate }}</p>
                <p class="additional-info">{{ 'resume.experience.eurisLead.additionalInfo' | translate }}</p>
                <p class="description">{{ 'resume.experience.eurisLead.description' | translate }}</p>
            </div>

            <div class="section-sub-item">
                <p class="time current">{{ 'resume.experience.eurisDev.date' | translate }}</p>
                <p class="item-name">{{ 'resume.experience.eurisDev.name' | translate }}</p>
                <p class="additional-info">{{ 'resume.experience.eurisDev.additionalInfo' | translate }}</p>
                <p class="description">{{ 'resume.experience.eurisDev.description' | translate }}</p>
            </div>

            <div class="section-sub-item">
                <p class="time current">{{ 'resume.experience.freecopia.date' | translate }}</p>
                <p class="item-name">{{ 'resume.experience.freecopia.name' | translate }}</p>
                <p class="additional-info">{{ 'resume.experience.freecopia.additionalInfo' | translate }}</p>
                <p class="description">{{ 'resume.experience.freecopia.description' | translate }}</p>
            </div>

            <div class="section-sub-item">
                <p class="time current">{{ 'resume.experience.stage.date' | translate }}</p>
                <p class="item-name">{{ 'resume.experience.stage.name' | translate }}</p>
                <p class="additional-info">{{ 'resume.experience.stage.additionalInfo' | translate }}</p>
                <p class="description">{{ 'resume.experience.stage.description' | translate }}</p>
            </div>
        </div>

        <div class="section-item">
            <p class="title">{{ 'resume.education.title' | translate }}</p>
            <div class="section-sub-item">
                <p class="time">{{ 'resume.education.masterDegree.date' | translate }}</p>
                <p class="item-name">{{ 'resume.education.masterDegree.name' | translate }}</p>
                <p class="additional-info">{{ 'resume.education.masterDegree.additionalInfo' | translate }}</p>
                <p class="description">{{ 'resume.education.masterDegree.description' | translate }}</p>
            </div>
            <div class="section-sub-item">
                <p class="time">{{ 'resume.education.degree.date' | translate }}</p>
                <p class="item-name">{{ 'resume.education.degree.name' | translate }}</p>
                <p class="additional-info">{{ 'resume.education.degree.additionalInfo' | translate }}</p>
                <p class="description">{{ 'resume.education.degree.description' | translate }}</p>
            </div>
            <div class="section-sub-item">
                <p class="time">{{ 'resume.education.highSchool.date' | translate }}</p>
                <p class="item-name">{{ 'resume.education.highSchool.name' | translate }}</p>
                <p class="additional-info">{{ 'resume.education.highSchool.additionalInfo' | translate }}</p>
                <p class="description">{{ 'resume.education.highSchool.description' | translate }}</p>
            </div>
        </div>
    </div>
</section>